*{
    margin:0px;
    padding:0px;
    text-align:center;
    font-family: 'Roboto Condensed', sans-serif;   
}

.container{
    background-color: rgb(214, 214, 214);
    max-width:800px;
    margin:auto;
    min-height:93vh;
    /* margin-bottom:0px; */
    padding:5px;
}

h2{
    padding:20px;
    font-size:45px;
    font-family: 'Pacifico', cursive;
}

form{
    margin:auto;
}

input{
    margin:20px;
}

#tas{
    padding:5px;
    border: solid rgb(0, 255, 106) 1px;
    width:300px;
    font-size:15px;
}

#sub{
    padding:10px;
    background:rgb(0, 255, 106) 1px;
    border:solid green 1px;
    font-weight:bold;
    font-size:15px;
}

#sub:hover{
    padding:10px;
    background:white;
    border:solid green 1px;
    cursor: pointer;
}

ul{
    list-style:none;
    margin:20px;
    font-size:25px;
}

li{
    background-color:rgb(165, 165, 165);
    margin:10px;
    border:solid 1px rgb(0, 255, 106);
}

footer{
    padding-top:6px;
    position:static;
    /* bottom:1px; */
    left:30%;
    right:30%;
    /* font-family: 'Pacifico', cursive; */
}

/* @media screen and (min-height=100vh) {
    footer{
        position:static;
    }
} */

.del{
    margin-top:3px;
    height:24px;
    width:24px;
    /* border-radius:50%;  */
    /* background-color: red; */
    background:url(../img/done2.jpg);
    background-size:cover;
} 

a{  
    text-decoration:none;
    float:right;
    margin-right:40px;
    /* margin-left:20px; */
    font-size:25px;
    color:red;
    font-weight: bold;
    /* position:fixed; */
}

